*{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
body{
   text-align: center;
   font-size: 16px;
}
a{
  text-decoration: none;
  
}
p {
    margin-bottom: 0;
    color: grey;
  }
  .row{
    margin: auto;
    width: 100%;
    text-align: center;
  }
.getStartedBtn{
background-color: #0152CD;
color: #ffff;
font-weight: bold;
font-size: 16px;
}
.logoText{
  font-size: 1.8rem;
}
  h1{
      line-height: 1.5;
      font-size: 3.5rem;
      font-weight: bolder;
  }
  h2{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color:grey;

 }
 h3{
    color: #1f1f1f;
    font-weight: bolder;
    line-height: 1.5rem;
 }
 .tobeReplaced span{
   color: #23C48B;
   font-weight: bold;
   font-size: 2rem;
 }
 .replacedFont span{
  color:#000;
  font-weight: bold;
  font-size: 2rem;
 }
 .heading{
  margin: 0 auto;
}
.heading h1{
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}
.heading p{
  word-spacing: 3px;
}
 .checkIcon{
  height: 24px;
 }

  .pricing-column hr{
    margin: 20px 0;
  }
 #pricing{
  padding: 80px;
  text-align: center;
  display: flex;
  font-family: 'Open Sans',sans-serif;
  font-weight: 400;
  margin: 0 auto;
 }
  .pricing-column{
    padding: 0% 8%;
    text-align: center;
  }

   .pricing-column h3{
    font-size: 30px;
    font-weight: 500;
    padding-right: 60px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: left;
   }
   .pricing-column p{
    text-align: left;
   }
  
   .pricing-column h2{
    text-align: left;
   }
  .navbarM{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 25px 40px;

  }
  .loginBtn{
   color: grey;
  }
  .heading{
    margin-top: 50px;
  }
  .switchDiv{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    font-weight: bolder;
  }
  .switchDiv p{
    color: #000;
  }
  .navbarM button{
    border: none;
    width: auto;
    height: 45px;
    border-radius: 30px;
    padding: 0 14px;
    margin-left: 15px;
  }
.navbarItem a{
margin: 0 15px;
color: grey;
text-align: center;
}
.ibutton{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: fit-content;
  justify-content: center;
}
.ibutton div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  gap: 15px;
  padding: 10px 0;
}
 .ibutton p{
  color: #000;
  font-weight: bold;
 }
 .pricing-column button{
  width: 100%;
  height: 55px;
  border-radius: 30px;
  padding: 0 15px;
  margin-top: 20px;
 }
 .pricing-column hr{
  border:none;
  background-color: #F2F2F3;
   height: 0.1px; 
 }
  
 .nonSelectedBtn{
  background-color: #fff;
  color: #5590E7;
  font-size: 16px;
   font-weight: bold;
   border: 0.2px solid lightgrey;
 }
  .selectedBtn{
    background-color: #0052CC;
    color: #fff;
    font-size: 16px;
   font-weight: bold;
   border: 0.2px solid lightgrey;
  }

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 2.7px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
